@model PixelVrtic.Models.Obavijest
@{
    ViewData["Title"] = "Slanje obavještenja";
}

<style>
    body {
        background-color: #fde9f1;
        font-family: 'Poppins', sans-serif;
    }

    .container {
        background: white;
        border-radius: 16px;
        padding: 40px;
        width: 60%;
        margin: 40px auto;
        box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
    }

    h1 {
        font-size: 1.5rem;
        color: #2d2d5c;
        font-weight: 700;
        margin-bottom: 20px;
    }

    label {
        font-weight: 600;
        margin-top: 10px;
    }

    input, select, textarea {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 6px;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 15px;
    }

    textarea {
        height: 150px;
        resize: none;
    }

    .btn-submit {
        background-color: #d2f0fd;
        border: none;
        padding: 10px 30px;
        border-radius: 20px;
        color: #2d2d5c;
        font-weight: 600;
        cursor: pointer;
    }

        .btn-submit:hover {
            background-color: #a7e4fb;
        }
</style>

<div class="container">
    <h1>Slanje obavještenja</h1>
    <form asp-controller="Obavijest" asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="naslov">Naslov</label>
            <input asp-for="naslov" />
            <span asp-validation-for="naslov" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="tekst">Sadržaj obavještenja</label>
            <textarea asp-for="tekst"></textarea>
            <span asp-validation-for="tekst" class="text-danger"></span>
        </div>
        <!--<div class="form-group">
            <label asp-for="datum">Datum</label>
            <input asp-for="datum" type="date" />
            <span asp-validation-for="datum" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="idAutora">Autor</label>
            <select asp-for="idAutora" asp-items="ViewBag.idAutora"></select>
        </div>-->
        <button type="submit" class="btn-submit">Pošalji</button>
    </form>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
