@model PixelVrtic.Models.Prisustvo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Prisustvo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="datum" class="control-label"></label>
                <input asp-for="datum" class="form-control" />
                <span asp-validation-for="datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dijeteId" class="control-label"></label>
                <select asp-for="dijeteId" class="form-control" asp-items="ViewBag.dijeteId"></select>
                <span asp-validation-for="dijeteId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="prisutan" /> @Html.DisplayNameFor(model => model.prisutan)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="razlogOdsutnosti" class="control-label"></label>
                <input asp-for="razlogOdsutnosti" class="form-control" />
                <span asp-validation-for="razlogOdsutnosti" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
