
<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixel Vrtić</title>
    <link href="https://fonts.googleapis.com/css?family=Alexandria&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Figma+Hand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/homecss.css">
  

    <style>
        html, body {
            margin: 0;
            padding: 0;
            background-color: #D7F5FF;
            height: 100%;
            overflow-x: hidden; 
            font-family: 'Poppins', sans-serif;
        }
    </style>
    
</head>
<body>
   
    <span class="v1_422">Pixel</span>
    <span class="v1_423">oblikuj dječiju </span>
    <span class="v1_424">kreativnost</span>

    <span class="v1_353">
        Uz sigurnost, ljubav i stručno osoblje, vaše dijete će otkrivati svijet na najzanimljiviji način.
        Digitalna platforma modernog vrtića – evidencija prisustva, online upis, komunikacija sa roditeljima i više.
    </span>
   
        
        <span class="v1_302">Digitalni upis</span>
        <span class="v1_303">Sigurnost i privatnost</span>
        
    <section class="bijela-sekcija">
        <section class="v1_304" id="onama">
            <span class="v1_305" id="kosmo">Ko smo mi?</span>
            <span class="v1_306">
                Pixel Vrtić je platforma koja spaja tehnologiju, edukaciju i roditeljsku brigu.
                Nastala je iz želje da digitalizujemo svakodnevicu vrtića i omogućimo jednostavno i transparentno praćenje dječijeg razvoja
            </span>
            <div class="v1_307"></div>
            <div class="v1_308"></div>
            <div class="v1_309"></div>
        </section>
    
    
        <span class="v40_204">Digitalizacija</span>
        <span class="v1_310"> Roditelji mogu prijaviti dijete putem jednostavne online forme. Sve informacije, dokumentacija i potvrde dostupne su 24/7.
        </span>

        <span class="v40_202">Sigurnost i privatnost</span>
        <span class="v1_311">
            Pixel Vrtić je više od običnog vrtića – mi gradimo društvo sretne djece.
            Kroz igru, edukaciju i pažljiv odnos, pripremamo Vaše dijete za svijet koji ga čeka.
        </span>

         <span class="v1_313">Pametan vrtić</span>
        <span class="v1_312">
            Koristimo tehnologiju da olakša svakodnevicu roditelja i odgajatelja, ali uvijek ostaje dijete u središtu pažnje.
            Naša platforma prati rast, napredak i posebne trenutke svakog djeteta.
        </span>

    <span class="v1_300">Pixel olakšava svakodnevnicu i roditelja i djece</span>
    <span class="v1_301">Od upisa do izvještaja o napretku – pratite sve online. Komunikacija s vaspitačem, evidencija odsustva, pregled dnevnih aktivnosti, izvještaji u PDF formatu i više.
    </span>


    <span class="v1_293">Zajedno stvaramo sretne uspomene.</span>
    <span class="v1_294">  Pixel nije samo aplikacija – to je zajednica roditelja i vaspitača koji prate dječiji rast i razvoj.  Kroz igru, edukaciju i pažnju, zajedno gradimo temelj za sretan početak školovanja.  </span>
    
    <div class="v1_341"><span class="v1_342">Započni sada</span></div>
    

        <div class="v1_314"></div>
        <div class="v1_315"></div>
        <div class="v1_316"></div>

        <div class="v1_317">
            <div class="v1_318"></div>
            <div class="v1_319"></div>
            <span class="v1_320">Spremni za početak?</span>
        </div>

        <span class="v1_321">Roditelj</span>
        <span class="v1_322">Zaposleni u vrtiću</span>
        <span class="v1_323">
            Pratite prisustvo, dobijajte izvještaje, ažurirajte podatke i budite u toku sa aktivnostima vašeg djeteta.
        </span>
        <span class="v1_324">
            Upravljajte aktivnostima, prisustvom i izvještajima. Komunicirajte lako sa roditeljima.
        </span>

        <div class="v1_325"></div>
        <div class="v1_326"></div>


        <span class="v1_333">Loguj se preko roditeljskog naloga</span>
        <span class="v1_334">Prijavi se kao vaspitač</span>


        <div class="v1_345"></div><div class="v1_346"></div><div class="v1_347"></div>
        <div class="v1_348"></div><div class="v1_349"></div><div class="v1_350"></div>
        <div class="v1_351"></div><div class="v1_352"></div>



    </section>


        <footer id="kontakt">

            <div class="v1_354"></div>
            <div class="v1_425"></div><div class="v1_426"></div><div class="v1_427"></div>
            <div class="v1_428"></div><div class="v1_429"></div><div class="v1_430"></div>
            <div class="name"></div><div class="v1_433"></div><div class="v1_434"></div>
   
        </footer>

</body>
</html>
